*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
}

::selection{
	background: $color-primary;
	color: #fff;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;

	@media only screen and (max-width:$laptop-land){
		font-size: 55%;
	}
	@media only screen and (max-width:$laptop-port){
		font-size: 50%;
	}
}

body {
	font-size: 1.8rem;
	font-family: $font-primary;
	color: $color-primary;
	line-height: 1.3;
	overflow-x: hidden;
}

.container {
	width: 90%;
	max-width: 114rem;
	margin: 0 auto;
}

.spinner{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	svg{
		width: 4rem;
		height: 4rem;

		fill: $color-primary;
		animation: spin 4s infinite linear;
	}
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


.attribution{
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-block;
	z-index: 3;
	background: #fff;
	color: $color-primary !important;
	padding: 10px 10px;
}