.tac {
  text-align: center; }

.tar {
  text-align: right; }

.m--1 {
  margin: .5rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.p-5 {
  padding: 5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

.mt-9 {
  margin-top: 9rem; }

.mt-10 {
  margin-top: 10rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-9 {
  margin-bottom: 9rem; }

.mb-10 {
  margin-bottom: 10rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-6 {
  padding-top: 6rem; }

.pt-7 {
  padding-top: 7rem; }

.pt-8 {
  padding-top: 8rem; }

.pt-9 {
  padding-top: 9rem; }

.pt-10 {
  padding-top: 10rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-6 {
  padding-bottom: 6rem; }

.pb-7 {
  padding-bottom: 7rem; }

.pb-8 {
  padding-bottom: 8rem; }

.pb-9 {
  padding-bottom: 9rem; }

.pb-10 {
  padding-bottom: 10rem; }

h1.heading {
  font-size: 3.6rem;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize; }

h4.heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #969696;
  font-weight: 500;
  letter-spacing: 1px; }

h2.heading {
  font-size: 2.8rem;
  font-weight: 500; }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none; }

::selection {
  background: #2b2b2b;
  color: #fff; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  color: #2b2b2b;
  line-height: 1.3;
  overflow-x: hidden; }

.container {
  width: 90%;
  max-width: 114rem;
  margin: 0 auto; }

.spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .spinner svg {
    width: 4rem;
    height: 4rem;
    fill: #2b2b2b;
    animation: spin 4s infinite linear; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  z-index: 3;
  background: #fff;
  color: #2b2b2b !important;
  padding: 10px 10px; }

.header {
  min-height: 35vh;
  padding: 4rem 0 15rem 0;
  background: url(../images/pattern-bg.png) no-repeat;
  background-size: cover;
  background-position: center center; }
  @media only screen and (max-width: 62em) {
    .header {
      padding-bottom: 25rem; } }
  .header form.form__search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    height: 58px; }
    .header form.form__search .search__input {
      flex: 1;
      padding: 2rem;
      padding-right: 0;
      border: none;
      border-radius: 15px 0 0 15px;
      font-size: 1.8rem;
      font-family: inherit;
      letter-spacing: 0.2px;
      height: 100%; }
      @media only screen and (max-width: 75em) {
        .header form.form__search .search__input {
          font-size: 16px; } }
    .header form.form__search .btn {
      height: 100%;
      width: 10%;
      min-width: 55px;
      border: 0;
      background: #2b2b2b;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex: 0 0 5.8rem;
      border-radius: 0 15px 15px 0; }

.info {
  position: relative;
  width: 100%;
  min-height: 65vh; }
  .info__box {
    position: relative;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 80px rgba(43, 43, 43, 0.1);
    display: flex;
    align-items: flex-start;
    padding: 4rem;
    transform: translateY(-50%);
    min-height: 17rem;
    z-index: 2; }
    @media only screen and (max-width: 62em) {
      .info__box {
        flex-wrap: wrap;
        padding: 3rem; } }
    .info__box--box {
      flex: 1;
      align-self: stretch;
      position: relative; }
      .info__box--box h4.heading {
        margin-bottom: 1rem; }
      .info__box--box:not(:last-child)::after {
        content: '';
        width: 1px;
        height: 80%;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #969696;
        opacity: 0.5; }
      .info__box--box:not(:first-child) {
        padding-left: 3rem; }
      @media only screen and (max-width: 62em) {
        .info__box--box {
          flex: 0 0 100%;
          text-align: center; }
          .info__box--box:not(:first-child) {
            padding-left: 0; }
          .info__box--box:not(:last-child) {
            margin-bottom: 2rem; }
            .info__box--box:not(:last-child)::after {
              display: none; }
          .info__box--box h4.heading {
            margin-bottom: 5px; } }

.map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1; }
  .map .leaflet-marker-icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain; }
